fastapi
uvicorn
python-multipart
pydantic
pydantic-settings
python-dotenv
langchain
langchain-community
langchain-openai
langchain-milvus
pymilvus
langchain-text-splitters
PyPDF2
python-pptx
openpyxl
pandas
lxml
markdown
aiofiles
httpx

