langchain-community
langchain-pymupdf4llm
langchain-openai
openpyxl
langchain-tavily
ipython
typing-extensions
langchain-core
python-dotenv
uvicorn
langgraph
langchain[openai]
langchain-deepseek
langchain-mcp-adapters
langgraph-cli[inmem]